<div class="w-full">
  <%= f.label form_field.name, class: "mr-auto block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
  <%= f.input form_field.name, as: :check_boxes, collection: form_field.collection, input_html: { class: "mr-2 w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" }, item_wrapper_class: "mr-2 whitespace-nowrap px-4 text-left py-3 text-sm font-medium text-gray-900 dark:text-gray-300 my-1 flex items-center hover:bg-gray-100 pl-4 rounded-lg border border-gray-200 dark:border-gray-700", wrapper_html: { class: "my-1 flex items-center flex-wrap justify-between" }, item_wrapper_tag: :label, label: false %>
</div>