<div class="m-2">
  <%= f.input form_field.name, as: :toggle, label_html: { class: "inline-flex relative items-center cursor-pointer" }, input_html: { class: "sr-only peer" }, wrapper_html: {  } %>
</div>