<%# Link to the "Next" page
  - available local variables
    url:           url to the next page
    current_page:  a page object for the currently displayed page
    total_pages:   total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
-%>
<li class="next">
  <%= button_to t('views.pagination.next').html_safe, list_paginator.admin_search_path, list_paginator.next_page_button_options(current_page, per_page) %>
</li>