<%# Link to the "Previous" page
  - available local variables
    url:           url to the previous page
    current_page:  a page object for the currently displayed page
    total_pages:   total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
-%>
<li class="prev">
  <%= button_to t('views.pagination.previous').html_safe, list_paginator.admin_search_path, list_paginator.prev_page_button_options(current_page, per_page) %>
</li>