<h1>Hi I am <%= @user.email %></h1>
<%= render 'shared/list', model: Product, objects: @products, parent: @user, query_params: {}, q: Product.ransack({}) %>
<%= render 'shared/list', model: Order, objects: @orders, parent: @user, query_params: {}, q: Order.ransack({}) %>